.modal-body {
  padding: 0px 56px 0px 56px;

  &__img {
    object-fit: cover;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #191919;
    text-align: center;

    &_magin-first-modal {
      margin-top: 85px;
      margin-bottom: 32px;
    }
  
    &_magin-second-modal {
      margin-top: 14px;
      margin-bottom: 42px;
    }
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #7f7f7f;
    text-align: center;

    &_margin-first-modal {
        margin-bottom: 64px;
      }
    
    &_margin-second-modal {
      margin-bottom: 73px;
    }

  }


}











